*{
  padding:0px;
  margin: 0px;
}
#bigImg{
  margin-left: 220px;
  margin-top: 50px;
}
ul{
  margin-left: 220px;
  list-style: none;
  overflow: hidden;
}
ul li {
  float: left;
  width: 60px;
  height: 48px;
  margin-left: 12px;
  margin-top: 20px;
  border: 2px solid #fff;
  overflow: hidden;
}
ul img{
  width: 70px;
  height: 60px;
}
ul li.active{
  border-color:red ;
}