html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background:red url(../images/1440w.jpg) center center;
  background-size:cover;
  position: relative;
}

h1{
  line-height: 90px;
  color: #ffffff;
  font-size: 50px;
  /* letter-spacing: 2px; */
}
p{
  line-break: 80px;
  font-size: 22px;
  /* letter-spacing: 2px; */
  color: #ffffff;
}
.btn{
  width: 200px;
  height: 60px;
  background-color:rgba(243, 13, 44, 0.849);
  color: #000;
  font-size: 24px;
  line-height: 60px;
  margin: 30px auto;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: 50ms;
  -webkit-transition: 50ms;
  -moz-transition: 50ms;
  -ms-transition: 50ms;
  -o-transition: 50ms;
}
.btn:hover{
  width: 220px;
  height: 65px;
  background-color: yellow;
  line-height: 60px;
}
.container{
  padding: 0 20px;
  width: calc(100%-40%);
  /* width: 100%; */
  border-top: 1px solid transparent;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}